<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div *ngIf = "!showSlides">
  <h1>
    Welcome to {{ title }}!
  </h1>


  <p>Ready to begin?</p>
  <button (click) = "showSlideComponent()">Start the course!</button>
  </div>

  <p *ngIf= "showSlides && accessDenied">Your access to this course has been shut off. Please contact one of our sales reps today.</p>

  <app-slide *ngIf = "showSlides && !accessDenied" [apiResponse] = "apiResponse"></app-slide>
</div>

